/* Index ----------- */

.hunoindex {
    padding: 25px;
}

.navindex {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.contenedorFavoritos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articleFavoritoIndex {
    display: inline-block;
    margin: 8px;

}

.imgrecetaindex {
    border-radius: 1em;
    min-width: 250px;
    min-height: 250px;
    max-width: 300px;
    max-height: 300px;
}

.nombrerecetaindex {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}