/* Index ----------- */


.formBotonPersonalizado {
    border-radius: 1em;
    background-color:  yellow;
    width: 36px;
    height: 36px;
}

.hunoindex {
    padding: 25px;
}

.navindex {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.contenedorFavoritos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 80vh;
}

.articleFavoritoIndex {
    height: 320px;
    padding: 5px;
    border-radius: 1em;
}

.imgrecetaindex{
    height: 184px;
    width: 220px;
    border-radius: 1em;
}

.nombrerecetaindex {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.imgFav{
    height: 130px;
    width: 150px;
    border-radius: 1em;
}

.contFav{
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 50px;
    min-height: 80vh;
}

.tarjetaFav {
    
    min-height: 60px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #aba6a6;
    margin-bottom: 12px;
}
   