
.containerFiltro{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon {
    width: 70px;
    height: 70px;
}
.botonIcon {
    border: 1px solid black;
    border-radius: 1em;
    margin: 2px;
}
.seleccion{
    background-color: #e5e7eb;
}
.formFiltro{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.boton{
    height: 40px;
}