:root {
    --nar-claro: #ffedcc;
    --azul-claro: #5aacff;
    /* CSS HEX */
    --carnation-pink: #ff99c8ff;
    --blond: #fcf6bdff;
    --aero-blue: #d0f4deff;
    --uranian-blue: #a9def9ff;
    --mauve: #e4c1f9ff;

    /* CSS HSL */
    --carnation-pink: hsla(332, 100%, 80%, 1);
    --blond: hsla(54, 91%, 86%, 1);
    --aero-blue: hsla(143, 62%, 89%, 1);
    --uranian-blue: hsla(200, 87%, 82%, 1);
    --mauve: hsla(278, 82%, 87%, 1);

}

/* Estilos componente Header */

.headerprincipal {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(to right, var(--azul-claro), white);  
    color: white;
    margin-bottom: 120px;
}
.headerprincipal h1{

    /* margin-top: 41px; */
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-family: 'Dancing Script', cursive;
    font-size: 65px;

}
.linkUser{
    gap: 10px;
    display: flex;
    margin-top: 34px;
    margin-right: 17px;
    align-items: flex-end;
}
.logo {
    width: 100px;
    height: 90px;
    margin-top: 35px;
}
.logoRegistroLogin{
    width: 150px;

}
.logoUser {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.contTitulo{
    margin-top: 80px;
}
.contBotonera{
    margin-top: 35px;
    text-align: center;
    display: flex;
    gap: 3px;

}
.btnActivo{
    border: solid 1px black;
}
/* Estilos componente Footer */

.footerprincipal {
    width:100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--azul-claro);
    color:white;
}



.seccion{
    padding: 15px;
    margin-top: -42px;
}
.seccion ul {
    display: flex;
    gap: 15px;
    flex-direction: row;
    padding: 10px 0;

}

.footerprincipal header{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.imgsiguenos{
    width: 45px;
    height: 45px;
   
}