.tarjetaInputResena {
    min-height: 60px;
    padding: 20px;

}


/* -----------   Index.js  Resenas --------- */

.principal{
    display: flex;
    flex-direction: column;
}

.navindex {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.hunoindexResenas {
    padding: 25px;
}

.contenedoresenas {
    width: 100%;
    display: flex;
    justify-content: center;
    padding:50px;
    min-height: 80vh;

    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

.tarjetaResena {
    
    min-height: 60px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aba6a6;
    margin-bottom: 12px;
}
   
.botonEdit{
    max-height: 40px;
}
.tarjetaResena header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.tarjetaResena footer {
    display: flex;
}

.imgfav {
    width: 30px;
    height: 30px;
}

.imguser {
    width: 50px;
    height: 50px;
}

/* Edit   */

.contenedorForm{
    min-height: 60vh;
    margin-top: 50px;
    margin-bottom: 50px;
}


.containerEditResenas{
    display: flex;
    flex-direction: column;
    align-items: center;
}